:host {
  width: 100%;
}

.panel-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
  justify-content: space-between;
}

.rule-photo {
  max-height: 300px;
  width: auto;
}
