<div class="header"></div>

<div class="main-container">
  <mat-tab-group>
    <mat-tab label="Robo Rules">
      <div class="container">
        <bot-robo-single-rule
          *ngFor="let roboRule of roboRulesList"
          [roboRule]="roboRule"
        ></bot-robo-single-rule>
      </div>
    </mat-tab>
    <mat-tab label="Robo Lesson">
      <div class="container">
        <div class="lesson-container">
          <vg-player>
            <video #media id="singleVideo" preload="auto" controls>
              <source src="/assets/videos/course.mp4" type="video/mp4" />
            </video>
          </vg-player>

          <bot-robo-lesson></bot-robo-lesson>

          <!-- @defer (on viewport){
          <bot-robo-lesson></bot-robo-lesson>
          }@placeholder{
          <div>Fetched!</div>
          } @loading (minimum 2s) {
          <div class="loading-card">
            <mat-spinner [diameter]="30"></mat-spinner>
            <div>Fetching info...</div>
          </div>

          } -->
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Take the Robo Quiz!">
      <div class="container">
        <div class="quiz-container">
          <h3>Robo Quiz 🤖🚀</h3>
          <div class="decription">
            Get ready for some quick and exciting fun with our Robot Quiz! Dive
            into a series of multiple-choice questions that challenge your
            knowledge of the robot world—from iconic bots to the latest tech
            trends. It's fast, fun, and perfect for anyone who loves a good
            brain teaser. Play now, earn points, and see if you can rise to the
            top of the leaderboard. Think you’ve got what it takes? Join the
            Robot Quiz and prove you're the true robo-expert!
          </div>

          <bot-robo-quiz-questions
            *ngIf="startQuizClicked"
          ></bot-robo-quiz-questions>

          <button
            *ngIf="!startQuizClicked"
            class="quiz-btn"
            (click)="onStartQuizClicked()"
            mat-raised-button
          >
            Start Quiz
          </button>

          <!-- @defer (when startQuizClicked){
          <bot-robo-quiz-questions></bot-robo-quiz-questions>
          } @placeholder {
          <button
            class="quiz-btn"
            (click)="onStartQuizClicked()"
            mat-raised-button
          >
            Start Quiz
          </button>
          } -->
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
