@font-face {
  font-family: "Orbitron";
  src: url("../../assets/fonts/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:host {
  width: 100%;
}

.content {
  padding: 16px;
}

.info {
  font-family: "Orbitron";
}
