a {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
  font-size: 18pt;
}

.container {
  display: flex;
  flex-direction: column;
}

mat-chip-set {
  display: flex;
  justify-content: space-between;
  padding: 25px 200px;
  margin: 10px auto;
}

.product-item {
  border-bottom: 2px solid #999;
}


mat-spinner {
  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}