<div class="container">
  <mat-chip-set>
    <mat-chip (click)="setFilter('Heads')">Heads</mat-chip>
    <mat-chip (click)="setFilter('Arms')">Arms</mat-chip>
    <mat-chip (click)="setFilter('Torsos')">Torsos</mat-chip>
    <mat-chip (click)="setFilter('Bases')">Bases</mat-chip>
    <mat-chip (click)="setFilter('')">All</mat-chip>
  </mat-chip-set>

  <ul
    class="products"
    [ngStyle]="{
    opacity: (loading$ | async) ? '0.3' : '1',

  }"
  >
    <li class="product-item" *ngFor="let product of filteredProducts$ | async">
      <bot-product [data]="product"></bot-product>
    </li>
  </ul>
</div>

<ng-container *ngIf="loading$ | async"
  ><mat-spinner></mat-spinner
></ng-container>
